name: Deploy
run-name: "Deploy to: ${{ inputs.environment }}"

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        description: environment
        type: string

jobs:
  deploy:
    name: "Deploy to: ${{ inputs.environment }}"
    runs-on: ubuntu-latest
    environment: "${{ inputs.environment }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install Sanity CLI
        run: npm install -g @sanity/cli

      - name: Build project
        run: npm run build

      - name: Deploy to Sanity
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_TOKEN }}
        run: |
          sanity deploy
          echo 'Success! Studio deployed to [https://junviglund.sanity.studio](https://junviglund.sanity.studio)' >> $GITHUB_STEP_SUMMARY
